$nyc-orange: #ED6E27;
$marcy-grey: #808080;
$cure-grey: #d9d9d9;

::selection {
    background: $nyc-orange; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: $nyc-orange; /* Gecko Browsers */
  }