.section {
    width: 100%;
    height: auto;
    padding: 180px 0;
    &.hero {
        padding: 80px 0;
    }
    &.off-white {
        background: #F9F9F9;
        @media #{$large-up} {
            .row {
                margin-bottom: 100px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &.warm-white {
        background: #f7f7f7;
    }
}

img {
    padding: 60px 0;
}

.projectTile {
    font-family: $newOrder;
    padding: 8px;
    overflow: hidden;
    .projectTile__line {
        width: 50%;
        height: 8px;
        margin-bottom: 4px;
        background: black;
    }
    .projectTile__title {
        font-size: 24px;
        font-weight: $newOrder_medium;
        color: black;
    }
    .projectTile__subtitle {
        font-size: 18px;
        font-weight: $newOrder_regular;
        color: $marcy-grey;
    }
    .projectTile__image {
        height: 290px;
        width: 100%;
    }
    img {
        padding: 0;
        height: 100%;
        width: 100%;
    }
}