.sideNav {
    @media #{$large-up} {
        position: fixed;
        top: 0;
        right: 0;
        width: 80px;
        background: $nyc-orange;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        a {
            color: black;
            font-family: $newOrder;
            font-weight: $newOrder_regular;
            text-decoration: none;
            letter-spacing: 5px;
            text-transform: uppercase;
            font-size: 18px;
            transform: rotate(90deg);
            padding: 27px 70px;
            &:hover {
                background: white;
                transition: 0.2s;
                color: $nyc-orange;
                font-weight: $newOrder_semibold;
            }
        }
        .sideNav__close {
            display: none;
        }
    }
    @media #{$medium-only} {
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 9;
        background: $nyc-orange;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
            color: black;
            transform: none;
            z-index: 10;
            font-size: 80px;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .sideNav__close {
            position: fixed;
            top: 40px;
            right: 40px;
            img {
                width: 64px;
                padding: 0;
            }
            &:hover {
                cursor: pointer;
            }
        }
        &.visible {
            visibility: visible;
        }
    }
    @media #{$small-only} {
        display: none;
    }
}

.sideNav__burger {
    position: absolute;
    top: 40px;
    right: 40px;
    img {
        width: 64px;
        padding: 0;
        &:hover {
            cursor: pointer;
        }
    }
    &:hover {
        cursor: pointer;
    }
    @media #{$large-up} {
        display: none;
    }
}