// BELY DISPLAY HEADING STYLES
$belyDisplay: bely-display,sans-serif;
$belyDisplay_regular: 400;

// BELY HEADING STYLES
$bely: bely, serif;
$bely_regular: 400;

// NEW ORDER HEADING STYLES
$newOrder: new-order, sans-serif;
$newOrder_regular: 400;
$newOrder_medium: 500;
$newOrder_semibold: 600;

h1 {
    font-family: $belyDisplay;
    font-weight: $belyDisplay_regular;
    font-size: 100px;
    margin-bottom: 100px;
}

h2 {
    font-family: $belyDisplay;
    font-weight: $belyDisplay_regular;
    font-size: 48px;
    margin-bottom: 80px;
    &.portfolio {
        font-family: $newOrder;
        font-weight: $newOrder_semibold;
        margin-bottom: 48px;
    }
}

h3 {
    font-family: $newOrder;
    font-weight: $newOrder_medium;
    font-size: 24px;
    margin-bottom: 80px;
    line-height: 40px;
    &.portfolio {
        margin-bottom: 20px;
        margin-top: 56px;
    }
}

h4 {
    font-family: $newOrder;
    color: $marcy-grey;
    &.portfolio {
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1.5px;
    }
    &.portfolioIntro {
        line-height: 40px;
    }
}

p, li {
    font-family: $newOrder;
    font-weight: $newOrder_regular;
    font-size: 18px;
    line-height: 33px;
}

.siteTitle {
    a {
        font-family: $bely;
        font-weight :$bely_regular;
        font-size: 20px;
        color: #AFAFAF;
        text-transform: uppercase;
        text-decoration: none;
    }
}

a {
    color: $nyc-orange;
    font-family: $newOrder;
    font-weight: $newOrder_semibold;
    text-decoration: underline;
    &.projectTile {
        display: block;
        text-decoration: none;
        &:hover {
            background: white;
            -webkit-box-shadow: 5px 5px 18px 1px #E7E7E7; 
            box-shadow: 5px 5px 18px 1px #E7E7E7;
            transition: 0.3s;
        }
    }
}

li {
    margin-left: 24px;
}