<div class="sideNav">
  <%= link_to 'Home', '/index.html' %>
  <%= link_to 'About', '/about/index.html' %>
  <%= link_to 'Blog', '/blog/index.html' %>
  <%= link_to 'Contact', '/contact.html' %>
</div>

<div class="mobileNav__controls">
  <img class="mobileNav__controls__open" src="images/hamburger.svg" />
  <img class="mobileNav__controls__close" src="images/close.svg" />
</div>